/* work sans font from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 15px 30px;
  border-radius: 48px;
  border: 0;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
}

.text-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.frame {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.frame-img {
  width: 86.041px;
  height: 40px;
  padding-right: 20px;
}


.frame-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.menu-item {
  padding-left: 32px;
}

.social-icon {
  display: flex;
  align-items: center;
  padding: 17px 30px;
  text-decoration: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.menu a,
.follow {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.fa-youtube {
  padding: 0px 24px;
  color: #c4302b;
}

.fa-brands {
  font-size: 1.5rem;
}

/* banner styles */

.banner-section {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.banner-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-sign {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-content {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  padding: 7px 0;
}

.btn-secondary {
  background: #4ec5f7;
}

.banner-img {
  width: 700px;
}

/* we are gamer style */

.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 200px;
}

.gamer-img {
  width: 600px;
}

.gamer-content {
  text-align: right;
}

.gamer-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px 0;
}

.gamer-description {
  font-size: 0.8rem;
  color: #534c64;
  font-weight: 400;
  line-height: 30px;
  padding: 10px 0;
}

.our-purpose {
  color: #534c64;
  font-size: 1.3rem;
  font-weight: 400;
}

.gamer-motto {
  color: rgba(83, 76, 100, 1);
  font-size: 1.3rem;
  padding: 10px 0;
  line-height: 30px;
}

/* funny videos styles */

.funny-videos-section {
  margin: 120px 0px;
}

.funny-videos-section,
.videos-title {
  color: #0b0223;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.videos-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px;
}
.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 45px 200px;
  
}
.videos-card-img{
  width: 100%;
  height: 400px;
  position: relative;
  
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* box-shadow: 0 10px 20px rgb(rgb(42, 20, 20); */

}
.videos-img {
  width: 100%;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgba(220, 214, 214, 0.685);
    cursor: pointer;
  }

  .watch-now{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  .videos-card-img:hover .overlay{
    opacity: 0.8;
  }

.videos-card-description {
  color: #534c64;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 15px;
}

/* instant play styles */

.instant-play-section {
  margin: 45px 200px;
}

.instant-play-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instant-play-title {
  color: #0b0223;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  padding-right: 120px;
}

.instant-play-description {
  color: #534c64;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding-right: 120px;
}

.instant-play-img {
  width: 400px;
}

.instant-play-box-1 {
  position: relative;
  margin-left: 75px;
}

.instant-play-out-img {
  width: 150px;
  position: absolute;
  left: -75px;
  bottom: -30px;
}

/* online games styles */

.online-games-section {
  margin: 150px 200px 0;
}

.online-games-title {
  color: #0b0223;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  padding-left: 120px;
}

.online-games-description {
  color: #534c64;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 120px;
}

.online-games-container {
  flex-direction: row-reverse;
  justify-content: space-around;
}

.online-games-box-1 {
  position: relative;
  margin-right: 75px;
}

.online-games-img {
  width: 400px;
}

.online-games-out-img {
  width: 150px;
  position: absolute;
  right: -75px;
  bottom: -30px;
}


/* Careen style */
.career-section {
    margin-top: 100px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 0 200px;
}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.career-title {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}

.career-description {
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 24px 0px;
    text-align: justify;
}

.career-list-box {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.career-list-box>ul {
    list-style: none;
}

.career-list-box>ul li {
    font-size: 0.9rem;
    color: #FFF;
    font-weight: 600;
    line-height: 30px;

}

.right-list {
    text-align: right;
}
.btn-white{
    background: #FFF;
    color: #FF42A5;
    margin-top: 30px;
}

.career-img {
    width: 500px;
    fill: rgba(255, 255, 255, 0.10);
}

/* games icon styles */

.games-icon {
    margin: 120px 200px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    margin: 7px;
}

.bottom-icon {
    display: flex;
    justify-content: center;
    
}

.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 8px;
    
    border: 2px solid white;
    border-radius: 50px;
}

.icon-box:hover{
    border: 2px solid tomato;
    border-radius: 50px;
    color: #FF42A5;
}
.icon-box:hover h4{
    color: #FF42A5;
}

.icon-img{
    width: 30px;
}

.icon-title {
    color: #0B0223;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding-left: 10px;
}


/* footer style */

footer{
  
  background: #0B0223;
  background-size: contain;
  background-position: center;
  color:white;
  padding:60px 0;
}


.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:40px;
  
}

.bottom-logo{
  width:85px;
  padding-right:10px;
  object-fit: contain;
}

.footer-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}



.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom:40px;
  flex-wrap: wrap;
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  padding-bottom:40px;
}

.policy-menu{
  display: grid;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom:50px;
  gap: 50px;
  font-size: 14px;
  list-style: none;
  flex-wrap: wrap;
  padding:10px;
}
.copyright{
  text-align: center;
}



